.wrapper{
    background-image: url('./f1.jpg');
    background-size: auto;
    width: 100%;
    height: 800px;
    
    
}

.form-wrapper{  
    margin-left: 450px;
    margin-right: 50px;
    position: relative;
    top: 100px;
    
}

.header{
    background-color: black;
    color: white;
    font-size: 50px;
    font-style: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    
}

.form{
    background-color: rgb(110, 174, 238);
    float: left;
    height: 400px;
    width: 500px;
    border-radius: 0px 0px 10px 10px;

    
}

.btn_addBaby{
    border-radius: 100px;
    border-style: none;
    width: 70px;
    height: 70px;
    background-color: #ffd700;
    margin-left: 385px;
    font-size: 60px;
    text-align: center;
    font-style: inherit;
    transition: transform .2s;
}

.addTxt{
    position: relative;
    bottom: 8px;
    color: white;
}

.btn_addBaby:hover{
    transform: scale(1.2);
}


.lbl_Name{
    width: 80%;
    height: 10%;
    box-sizing: content-box;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 20px;
}

.lbl_LastName{
    font-size: 20px;
    width: 80%;
    height: 10%;
    box-sizing: content-box;
    border-radius: 20px;
    border-style: none;
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
}

