.baby-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 120px;
    transition: 0.25s;
}

.baby {
    background: #CAF8FB;
    border-radius: 2px;
    float: left;
    padding: 10px;
    display: flex;
    margin: 7px;
    flex-direction: column;
    
}

.baby_info{
    font-family: 'Tahoma';
}

.baby--selected {
    color: mediumturquoise;
    transform: scale(1.1);
}


