.event-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 175px;
    transition: 0.25s;
   
}

.event {
    background: #CAF8FB;
    border-radius: 2px;
    float: left;
    padding: 10px;
    display: flex;
    margin: 7px;
    flex-direction: column;
}

.event_info{
    font-family: 'Tahoma';
}

.event--selected {
    color: mediumturquoise;
    transform: scale(1.1);
}

.titulo-info{
    color: mediumturquoise;
    font-size: 15px;
    margin-bottom: 1px;
    margin-top: 5px;
}


